<div>
    <div class="p-5 mb-4 bg-light jumbotron">
    <div class="container py-5 text-center">
        <h1 class="display-5 fw-bold">Welcome to Alpha Blog</h1>
        <div>
            <p class="col-md-12 fs-4 text-white">
            Share ideas, explore articles, and connect with writers around the world.
            </p>
            <button class="btn btn-success btn-lg" type="button">
            Get Started
            </button>
    </div>
    </div>
</div>